/* Base Styles */
body {
    background-color: #121212;
}

a, h1, h2, h3, h4, h5, h6, p, li, ul, ol {
    color: #ff3333;
}

a:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, p:hover, li:hover, ul:hover, ol:hover {
    color: #ff3333;
}

.btn-outline-danger {
    border-color: #ff3333;
    color: #ff3333;
}

.btn-outline-danger:hover {
    background-color: #ff3333;
    color: #121212;
}

/* Dark Theme */
body.dark-theme {
    background-color: #121212;
}

body.dark-theme a,
body.dark-theme h1, h2, h3, h4, h5, h6, p, li, ul, ol {
    color: #ff3333;
}

body.dark-theme .btn-outline-danger:hover {
    background-color: #ff3333;
    color: #121212;
}

/* Light Theme */
body.light-theme {
    background-color: #ffffff; /* Update this to your preferred light background color */
}

body.light-theme a,
body.light-theme h1, h2, h3, h4, h5, h6, p, li, ul, ol {
    color: #121212; /* Update this to your preferred light theme text color */
}

body.light-theme .btn-outline-danger:hover {
    background-color: #121212;
    color: #ffffff; /* Update this to your preferred hover text color */
}

/* Video Container */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
